
/*  наши стили                   */


.hovereffect {
  
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  display: block;
}
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 100500;
}
video {
  width:100% !important;
  display: block !important;

}
.name {
  font-family: 'Caveat', cursive;
  font-size: 2em;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
	text-transform: uppercase;
	text-align: center;
	position: relative;
	font-size: 17px;
	background-color: transparent;
	color: #FFF;
	padding: 1em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.hovereffect a, .hovereffect p, .hovereffect i {
	margin-top: 45%;
	color: #FFF !important;
	padding: 1em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}



.cell{
	height: 400px;
	text-align: center;
	color: white;
	padding: 40px;
}

.cell:hover{

  box-shadow: 0px 0px 500px 0px #000000 inset;
  transition: .2s linear;
} 



.descofcell p{
	color: white;
	font-size: 18px;
}
.cell button{
	padding: 10px 30px 10px  30px;
	color: white;
	background: none;
	border: 1px solid white;
	transition: bottom 0.25s;
	text-decoration: none;
	margin-top: 400px !important;
	display: none !important;
}
.cell:hover button{
	display: inline-block !important;
	color: white !important;
	transform: translate(0,-350px) !important;
    -webkit-transform: translate(0,-350px) !important;
    -o-transform: translate(0,-350px) !important;
    -moz-transform: translate(0,-350px) !important;
    transition-duration: 2s !important;


}

.cell:hover button a{
	color: white !important;
}

.container {
	position: absolute;
	width: 89.5% !important;
	height: 100% !important;
	left:10.5%;

}
.map {
	position: absolute;
	left: 0;
  top: 0;
	width: 100% !important;
	height: 100% !important;
	z-index:0;

}
.contacts{
	padding-left: 10%;
	width: 70% !important;
	background: linear-gradient(90deg, white 50%, transparent) !important;
	height: 100% !important;
	position: absolute !important;
	z-index: 2 !important;
	margin-right: 40%;
}
.con{
	margin-top: 15%;
	padding-left: 10%;
	font-family: "Arial";
	
}
.con h3{
	font-weight: 600;
}
.con p, .con a{
	font-size: 15px;
	text-decoration: none !important;
	color: black;
}
.logocon img{
	width: 200px;
	padding-bottom: 50px;

}


.overlay a{
	text-decoration: none !important;;
}

header{
	width: 210px !important;;
	height: 100% !important;
	position: fixed !important;
	background: white;
	border: 1px solid #eee;
  z-index: 10000;
}

.logo-name{
	text-decoration: none !important;
  display: block;
}

.logo-name img{
	width: 150px !important;
  margin-top: 3em;
  margin-bottom: 1em;
}
.logo-name {
	text-align: center;
}
.logo-name > a {
	font-weight: 600;
	color: black;
	text-decoration: none !important;
	text-align: center;
	font-size: 17px;
	padding-bottom: 20px;
}
.logo-name:hover a {
	color: black !important;
}

.logo-name:after {
	  content: '';
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-top: 40px !important;
    border-top: 1px solid #eee;
    margin-bottom: 40px;

}

.menubtn{
	background: none !important;
	border: none !important;
	color: black !important;
	margin-left: 33% !important;
}
.menubtn img{
	width: 35px;
}
.dpr{
	left: 100% !important;
	top: 0 !important;
	background: #fff;
}
.dpr:hover > a {
	color: #aea7bc !important;

}

.social{

	margin-top: 60%;
	text-align: center;
}
.social img{
  width: 30px;

}
.socico{
 	font-size: 30px !important;
	padding: 10px !important;
  border-radius: 2em;
  border: 1px solid #eee;

}
.social a{

	display: block;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.social a:last-child {

	margin-bottom: 40px;
}
.social .socico{
   background: linear-gradient(45deg, #feda75 0%,#fa7e1e 25%,#fa7e1e 25%,#d62976 49%,#962fbf 73%,#4f5bd5 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
}
.socico-y {
  font-size: 30px !important;
  padding: 10px !important;
  border-radius: 2em;
  border: 1px solid #eee;

}

.social:after {
	content: '';
    display: block;
    width: 60%;
    margin: 0 auto;
    border-top: 1px solid #eee;
    padding-bottom: 20px;
}

#slideshow {  
    display: block; 
    width: 100%; 
    
}

#slideshow > a { 
    position: absolute;
    text-align: center;

}

#slideshow > a > img { 
   width: 55%;

}


.syteby{
	display: block;
	text-align: center;
}

.landingnazakaz{
	text-decoration: none !important;
	color: #2b2730;
	padding: 20px;
}

.syteby:hover a {
	color: #aea7bc !important;
}

.syteby:after {
	content: '';
    display: block;
    width: 60%;
    margin: 10px auto;
    border-top: 1px solid #eee;
    padding-bottom: 5px;
}

.dpr {
	left: 90% !important;
	height: 800% !important;
	margin-top: -100% !important;
	padding-top: 70% !important;
	text-decoration: none !important;
	list-style-type: none !important;
	box-shadow: none !important;
	border: none !important;
	border-top: 1px solid #eee !important;
	text-align: center !important;
	
}

.dpr li {
	list-style-type: none !important;
	padding: 10px !important;

}

.dpr li a {
	color: black !important;
	text-decoration: none !important;


}

.dpr:hover > li {
  color: #2b2730 !important;
}





#nav-icon4 span:nth-child(1) {
  
  top: 0px;
  -webkit-transform-origin: 3.5em/14 center 50%;
  -moz-transform-origin: 3.5em/14 center 50%;
  -o-transform-origin: 3.5em/14 center 50%;
  transform-origin: 3.5em/14 center 50%;
}

#nav-icon4 span:nth-child(2) {
 
  top: 10px;
  -webkit-transform-origin: 3.5em/14 center 50%;
  -moz-transform-origin: 3.5em/14 center 50%;
  -o-transform-origin: 3.5em/14 center 50%;
  transform-origin: 3.5em/14 center 50%;
}

#nav-icon4 span:nth-child(3) {
 
  top: 20px;
  -webkit-transform-origin: 3.5em/14 center 50%;
  -moz-transform-origin: 3.5em/14 center 50%;
  -o-transform-origin: 3.5em/14 center 50%;
  transform-origin: 3.5em/14 center 50%;
}


#nav-icon4.open span:nth-child(1) {
top: 10px;
-webkit-transform: rotate(405deg);
-moz-transform: rotate(405deg);
-o-transform: rotate(405deg);
transform: rotate(405deg); 
}

#nav-icon4.open span:nth-child(2) {


  width: 0%;
  opacity: 0;
  transition: 1s;
}

#nav-icon4.open span:nth-child(3) {
 top: 10px;

  -webkit-transform: rotate(-405deg);
  -moz-transform: rotate(-405deg);
  -o-transform: rotate(-405deg);
  transform: rotate(-405deg);
  
}


#nav-icon4 {

  width: 40px;
  height: 20px;
  position: relative;
  margin: 15px auto;
  padding: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  cursor: pointer;
}
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.menu-dva {
  height: 100%;
  position:  fixed;
  display: block;
  z-index: 3 !important;
  left:0px;
  width: 200px;
  top: 0;
  bottom: 0;
  margin: 0;
  background: white;
  border: 1px solid #eee;
  transition-duration: 0.3s !important;
 -webkit-box-shadow: 0 0 3px #000;
-moz-box-shadow: 0 0 3px #000;
box-shadow: 0 0 3px #000;

}
.menu-dva li a.active {

  font-weight:bold;
  color: black;
}
.punkts {
    list-style-type: none;
    text-decoration: none;
    color: black;
    margin-top: 50%;
    text-transform: uppercase;
    text-align: center;
}
.punkts:before {
  content: '';
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-top: 40px !important;
    border-top: 1px solid #eee;
    padding-bottom: 30px;
}
.punkts:after{
  content: '';
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-top: 40px !important;
    border-top: 1px solid #eee;
    padding-bottom: 40px;
}
.punkts a{
    list-style-type: none;
    text-decoration: none;
    transition-duration: 0.3s !important;
    color: black;

}
.punkts li{
    margin-top: 10px;
}
.punkts a:hover{
    list-style-type: none;
    text-decoration: none;
    color: #aea7bc;
}
.afisha {
  z-index: 0!important;
}


@media (min-width: 1200px) and (max-width: 1919px) {

.social {
    margin-top: 20% !important;
}

.logo-name img {
    width: 120px !important;
    margin-top: 3em;
    margin-bottom: 1em;
}
.name{
  font-size:  1.5em;
}

.logo-name:after {
    margin-top: 20px !important;
    margin-bottom: 20px;
}
.social a:last-child {
    margin-bottom: 20px;
}
}
